@model IEnumerable<BlogBuilder.DTOs.BlogDTO>
@{
    // All Blogs
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Blog/Index.css" />

<section class="mt-1">
    <div class="container">
        <div class="dashboard-header">
            <div class="welcome-text" id="welcome-text">
                Welcome <span id="username"></span> <span class="wave">👋</span>
            </div>
            <div class="dashboard-title">Explore All Blogs</div>

            <!-- Toolbar with buttons + inputs -->
            <div class="dashboard-toolbar">
                <button id="writeBlogBtn" class="btn-toolbar btn-purple">✍️ Write a Blog</button>

                <div class="input-wrapper position-relative">
                    <span class="input-icon">🔎</span>
                    <input type="text" id="searchBlogs" class="search-input search-blogs" placeholder="Search Blogs">
                    <div id="searchResults" class="dropdown-menu show" style="display:none; max-height:200px; overflow-y:auto;"></div>
                </div>


                <div class="input-wrapper">
                    <span class="input-icon">📂</span>
                    <select class="topic-select" id="topicSelect">
                        <option value="" disabled selected>-- Select a Category --</option>
                        <option value="Technology">Technology</option>
                        <option value="Science">Science</option>
                        <option value="Health">Health</option>
                        <option value="Education">Education</option>
                        <option value="Travel">Travel</option>
                        <option value="Food">Food</option>
                        <option value="Sports">Sports</option>
                        <option value="Movies & Entertainment">Movies & Entertainment</option>
                        <option value="History">History</option>
                        <option value="General Knowledge">General Knowledge</option>
                        <option value="Finance">Finance</option>
                        <option value="Business">Business</option>
                        <option value="Lifestyle">Lifestyle</option>
                        <option value="Art & Culture">Art & Culture</option>
                        <option value="Environment">Environment</option>
                    </select>
                </div>
                
                <button class="btn-toolbar btn-purple" id="myBlogsBtn">📚 My Blogs</button>
            </div>

        </div>


        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (var blog in Model)
            {
                <div class="col">
                    <a href="/Blog/GetBlogById/@blog.BLOGID" style="text-decoration: none; color: inherit;">
                        <div class="blog-card">

                            @if (blog.IMAGE_DATA != null)
                            {
                                <div class="blog-image">
                                    <img src="data:image/png;base64,@Convert.ToBase64String(blog.IMAGE_DATA)" alt="Blog Image" />
                                </div>
                            }

                            <div class="blog-body">
                                <h5 class="blog-title">@blog.BLOG_NAME</h5>
                                <p class="blog-meta" id="author-@blog.BLOGID" data-userid="@blog.USERID">
                                    Author: Loading... • @blog.MODIFIED_DATE
                                </p>
                                <div class="blog-excerpt blog-content">
                                    @Html.Raw(blog.BLOG_CONTENT)
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>

<script src="~/js/Blog/Index.js" />
    
